body{
	background-color: yellow;
}
.text{
  background-color: #244854;
  color: white;
}
.bg-body-tertiary1{
  background-color: #244854;
  color: white;
}
.bg-dark1{
  background-color: #244854;
  color: white;
}
.heading{
  background-color: yellow;
}
.grid-container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: yellow;
  margin-top: -8px;
  width: 105%;
  margin-left: -10px;


}
.grid-container1 {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto 5px;

  margin-top: -8px;
  width: 105%;
  margin-left: -10px;


}
.container-fluid{
  background-color:#244854;
  margin-top: -8px;
  margin-bottom: -50px;



}
.apply{
  position: relative;
  margin-right: -1000px;
  margin-top: -250px;
  font-size: 30px;
  color: black;
  font-family: "Arial Black",sans-serif;
}
.nav-link{
  color:white;
  margin-left: 100px;
}
.login{
  font-family: fantasy,impact;
  font-size: 30px;
}
.size{
  height: 800px;
  width: 800px;
}
.carousel{
  margin-top: 40px;
}




.grid-item {

 
font-family: impact;

   color: black;

  padding: 20px;
  
  text-align: center;
}
.grid-item1{


  font-family: impact;

  color: white;

  padding: 1px;

  text-align: center;
}
 .container {
   display: grid;
   grid-template-rows: auto auto auto;

 }
 .logo{
   width: 120px;
   height: 120px;

   margin-left: -10px;

 }
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}